<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{>header}}
  </head>
  <body>
    {{>navbar}}

    <div class="container mt-5">
      <div className="row">
        <div className="col-10 mx-auto">
          <div class="row  mb-5 mb-md-0">
            <div class="col-12 col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1  d-flex justify-content-center flex-column">
              <h1>Opps; 404ERROR</h1>
              <h3>This is not the page you are looking for</h3>
              <a href="/" class="btn btn-outline-primary btn_registar  mt-3">Home</a>
            </div>
            <div class="col-12 col-lg-6 pt-5 pt-lg-0 order-1 order-lg-2 ">
              <figure>
                <img src="./images/404.svg" alt="computer images" class="img-fluid animated"  />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
