<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{>header}}
  </head>
  <body>
    {{>navbar}}
    <div class="container mt-5">
      <div className="row">
        <div className="col-10 mx-auto">
          <div class="row  mb-5 mb-md-0">
            <div class="col-12 col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1  d-flex justify-content-center flex-column">
              <h2 class="mb-4 text-center text-primary">Sing Up</h2>
              <form method="post" >
                <div class="mb-3">
                  <input type="text" class="form-control" name="name" placeholder="Enter you full name"/>
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control" name="email" placeholder="Enter your email"/>
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" name="newPassward" placeholder="New password"/>
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" name="conformPassword" placeholder="Conform password" />
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationCustom04" class="form-label">Gender</label>
                  <select class="form-select" name="gender" required>
                    <option selected disabled value="">Choose...</option>
                    <option value="male">Male</option>
                    <option value="female">female</option>
                    <option value="other">other</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid state.
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="col-12 col-lg-6 pt-5 pt-lg-0 order-1 order-lg-2 ">
              <figure>
                <img src="./images/authentication.svg" alt="authentication images" style="filter: drop-shadow(8px 8px 10px gray);" class="img-fluid" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
